$color-ignite: rgb(37, 147, 103);
$color-dark-ignite: rgb(20, 103, 70);
$color-dark: #2d3137;
$color-fog: #58595b;
$color-fog-medium: #929497;
$color-fog-light: #c6c7c9;
$color-slate: #dcdee1;
$color-slate-medium: #ebedf0;
$color-slate-light: #f5f6f8;
$color-crimson: #cc0000;
$color-crimson-light: #ff0000;
$color-blue: #0098f0;
$color-blue-sky: #1aaeba;
$color-link: #0066ba;
$color-green: #6c9a00;
$color-yell:  #ff00ff;
$color-white: #ffffff;
$color-black: #000000;
$color-unset: unset;

$color-primary: $color-dark-ignite;
$color-secondary: $color-dark;
$color-accent: $color-ignite;
$color-warn: $color-crimson-light;
$color-warn-dark: $color-crimson;
$color-user-interaction: $color-blue-sky;
$color-mock-data: $color-yell;
$color-table-accent: $color-ignite;
$color-modal-overlay: rgba(80, 80, 80, 0.80);
$color-modal-overlay-light: rgba(240, 240, 240, 0.80);
$color-accent-transparent: rgba(240, 83, 35, 0.50); // TODO Reaname to '$color-transparent-accent'
$color-green-transparent: rgba(115, 165, 0, 0.40); // TODO Reaname to '$color-transparent-green'

// TODO fix the scss error
// $color-shadow: {
//     '1': rgba(0, 0, 0, 0.60),
//     '2': rgba(80, 80, 80, 0.40),
//     '3': rgba(80, 80, 80, 0.20)
// };

// $color-shadow-light: {
//     '1': rgba(0, 0, 0, 0.50),
//     '2': rgba(230, 230, 230, 0.40),
//     '3': rgba(230, 230, 230, 0.20)
// };
