@mixin display-flex {
    // sass-lint:disable no-duplicate-properties
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // sass-lint:enable no-duplicate-properties
}

@mixin position-sticky {
    // sass-lint:disable no-duplicate-properties
    display: -webkit-sticky;
    display: -moz-sticky;
    display: -ms-sticky;
    display: -o-sticky;
    display: sticky;
    // sass-lint:enable no-duplicate-properties
}

@mixin item-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

@mixin media-query-under ($breakpoint-name) {
    @media only screen and (max-width: map-get($breakpoint, $breakpoint-name)) {
        @content;
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes zoom-in {
    0% { transform: scale(0); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@mixin fade-in {
    animation: fade-in ease-in-out 0.5s;
}

@mixin zoom-in {
    animation: zoom-in ease 0.5s;
}

@mixin transition {
    transition:
    background-color 0.2s ease-out,
    box-shadow 0.2s ease-out,
    border 0.2s ease-out,
    border-color 0.2s ease-out,
    color 0.2s ease-out,
    height 0.2s ease-out,
    opacity 0.2s ease-out;
}

@mixin btn-shadow {
    box-shadow: 
    0 3px 1px -2px map-get($color-shadow, '1'),
    0 2px 2px 0 map-get($color-shadow, '2'),
    0 1px 5px 0 map-get($color-shadow, '3');
}

@mixin btn-shadow-hover {
    box-shadow: 
    0 2px 4px -1px map-get($color-shadow, '1'),
    0 4px 5px 0 map-get($color-shadow, '2'),
    0 1px 10px 0 map-get($color-shadow, '3');
}

@mixin card-shadow {
    box-shadow: 
    0 2px 4px 0 map-get($color-shadow, '1'),
    0 0 15px 0 map-get($color-shadow, '2');
}

@mixin card-dialog-shadow {
    box-shadow: 
    0 11px 15px -7px map-get($color-shadow, '1'),
    0 24px 38px 3px map-get($color-shadow, '2'),
    0 9px 46px 8px map-get($color-shadow, '3');
}

@mixin card-dialog-shadow-light {
    box-shadow: 
    0 11px 15px -7px map-get($color-shadow-light, '1'),
    0 24px 38px 3px map-get($color-shadow-light, '2'),
    0 9px 46px 8px map-get($color-shadow-light, '3');
}

@mixin icon-button {
    @include typography-title3;
    margin: 0;
    padding: 0;
    border: unset;
    outline: unset;
    background-color: unset;
    color: $color-fog;
    text-transform: capitalize;
    cursor: pointer;

    &:focus-within,
    &:focus,
    &:hover {
        @include transition;
        color: $color-accent;

        &.active {
            color: $color-fog;
        }
    }

    &.fade-in {
        @include fade-in;
    }

    &.fade-in {
        @include item-disabled;
    }

    &.mockup {
        color: $color-mock-data;
    }

    &.active {
        color: $color-accent;
    }

    &.active-radio {
        color: $color-accent;
        cursor: default;
        pointer-events: none;
    }
}
