@import '../../../scss/index';

.fel__paginator-wrapper {
    ul {
        @include display-flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            button {
                border: 1px solid $color-slate;
                border-left: 0;
            }

            &:first-child {
                button {
                    border-left: 1px solid $color-slate;
                }
            }
        }
    }
}

.fel__paginator_button {
    @include transition;
    width: 32px;
    height: 32px;
    padding: 3px 0 0;
    border-radius: 1px;
    outline: unset;
    background-color: unset;
    color: $color-blue;

    &:focus,
    &:hover,
    &:active {
        @include transition;
        background-color: $color-slate-medium;
        cursor: pointer;
    }

    &.disabled {
        color: $color-fog-light;
        cursor: pointer;
        pointer-events: none;
    }

    &.active {
        border: 1px solid $color-blue;
        background-color: $color-blue;
        color: $color-white;
    }
}
