@import '../../../scss/index';

.fel__side-nav-bar {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin: 0;
        padding: 0; 
    }

    a {
        @include typography-title1;
        display: block;
        width: 100%;
        margin: 4px 0;
        padding: 10px 8px 10px 10px;
        border: 0;
        border-right: 5px solid transparent;
        border-left: 5px solid $color-white;
        border-radius: 4px;
        outline: none;
        background-color: $color-white;
        color: $color-fog-medium;
        line-height: 1.4;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
        cursor: pointer;

        &:focus,
        &:hover {
            transition: background-color 0.2s ease-out;
            border-left-color: $color-primary-transparent;
            background-color: $color-slate-ultra-light;
            color: $color-fog;
        }

        &.active-nav-link {
            border-left-color: $color-primary;
            background-color: $color-slate-light;
            color: $color-secondary;
        }
    }
}
